@media (min-width: 641px) and (max-width: 960px) {

	.content {
		max-width: 708px;
	}

	.header {
		background-image: url(/surface/image/bkg-header-768.jpg);
		padding-top: 40px;
		padding-bottom: 90px;
	}

	.logo {
		width: 205px;
		height: 56px;
	}

	.header .logo {
		margin-bottom: 155px;
	}

	.header-text {
		font-size: 6.4rem;
		line-height: normal;
		margin-left: 55px;
	}

	.college-sport {
		line-height: 125%;
		margin-left: 162px;
		margin-top: 0;
	}

	.header-buttons {
		margin-top: 295px;
	}

	.apple {
		margin-right: 30px;
	}


	.athlets .content {
		padding-left: 260px;
	}

	.athlets-header .content {
		padding-top: 80px;
		padding-bottom: 50px;
	}

	.footballer {
		top: 94px;
		left: -190px;
	}

	.step-heading {
		font-size: 3.2rem;
	}

	.text {
		font-size: 1.6rem;
		line-height: 2.8rem;
		margin-top: 14px;
		margin-bottom: 33px;
		padding-right: 46px;
	}

	.step-collaboration, .step-growth {
		padding-top: 40px;
	}


	.basketballer {
		top: 39px;
		right: 0px;
	}

.players .content {
        padding-left: 10px;
}

.players .heading {
	margin-top: 80px;
	margin-bottom: 50px;
}

.players .text {
	width: 415px;
}

.rectangle {
	width: 116px;
	height: 116px;

	top: -80px;
}

.opportunities-heading {
	margin-top: 85px;
	margin-bottom: 30px;
}

.description {
	margin-bottom: 90px;
	padding-right: 95px;
}

.be-active .description {
	padding-right: 95px;
}


.footer {
	background-image: url(/surface/image/bkg-footer-768.jpg);
    padding-top: 126px;
    padding-bottom: 24px;
}

.app-logo::before {
	height: 85px;
	width: 100px;
}
	
.footer-heading {
	line-height: normal;
}

.footer-subheading {
	font-size: 3.6rem;
	line-height: 6rem;
        text-align: center;
}

.footer-buttons {
	display: flex;
	margin: 280px auto 55px;
}

}
