* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
	min-width: 320px;
}

a {
	text-decoration: none;
}

.content {
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	margin: auto;
	flex-direction: column;
}

h4 {
	font-size: 2.8rem;
	color: #ffffff;
	font-weight: 700;
	margin: auto;
}

.header {
	background-image: url(/surface/image/background-header);
	background-size: 100% auto;
	background-color: #211271;
	background-repeat: no-repeat;
}

.logo_header {
	margin: 33px auto 0;
	width: 133px;
	height: 36px;
	background-image: url(/surface/image/logo_header.svg)
}

.be_recruited {
	margin-left: 0;
	margin-top: 137px;
	line-height: 31.3px;
}

.college_sport {
	margin-left: 43px;
	margin-top: 31px;
	margin-bottom: 90px;
	line-height: 31.3px;
}

.store_button {
	position: relative;
	display: flex;
	align-items: center;

	width: 280px;
	height: 35px;

	background-color: #5e42b0;
	border-radius: 17px;
	color: #ffffff;
	font-size: 0.8rem;
	font-weight: 400;
}

.apple {
	margin-bottom: 14px;
}

.google {
	margin-bottom: 64px;
}

.apple::before {
	content: "";
	margin-right: 10px;
	margin-left: 82px;
	width: 20px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(/surface/image/apple_logo.svg);
}

.google::before {
	content: "";
	margin-right: 8px;
	margin-left: 82px;
	width: 22px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(/surface/image/google-logo.svg);
}
