@font-face {
    font-family: "Open Sans";
    src: url(/surface/fonts/);
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
	min-width: 320px;
}

a {
	text-decoration: none;
}

.content {
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	margin: auto;
}

.header {
	background-image: url(/surface/image/background-header);
	background-size: cover;
	background-color: #211271;
	background-repeat: no-repeat;
	padding-top: 33px;
	padding-bottom: 64px;
}

.logo {
	width: 133px;
	height: 36px;
	background-image: url(/surface/image/logo_header.svg)
}

.header .logo {
	margin: 0 auto 137px;
}

.header-text {
	line-height: 31px;
	font-size: 2.8rem;
	text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}

.college-sport {
	display: block;
	margin-left: 43px;
	margin-top: 31px;
}

.header-buttons {
	margin: 90px auto 0;
}

.store_button {
	position: relative;
	display: flex;
	align-items: center;

	width: 280px;
	height: 35px;

	background-color: #5e42b0;
	border-radius: 17px;
	color: #ffffff;
	font-size: 0.8rem;
	font-weight: 400;
	text-transform: uppercase;
}

.store-name {
	font-weight: 700;
	display: block;
}

.apple {
	margin-bottom: 14px;
}

.apple::before {
	content: "";
	margin-right: 10px;
	margin-left: 82px;
	width: 20px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(/surface/image/apple_logo.svg);
}

.google::before {
	content: "";
	margin-right: 8px;
	margin-left: 82px;
	width: 22px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(/surface/image/google-logo.svg);
}



.athlets-header .content {
	position: relative;
	padding-bottom: 226px;
}

.heading {
	font-size: 5rem;
	color: #e7e7e7;
	line-height: 60px;
	margin-top: 20px;
}

.footballer {
	position: absolute;
	top: 80px;
	left: 50px;
}

.step-connection {
	background-color: #fafafa;
	padding-top: 75px;
}

.step-heading {
	display: flex;
	align-items: center;
	font-size: 2.3rem;
	color: #c1c1c1;
	font-weight: 700;
}

.connection::before {
	content: "01";
    font-size: 1.4rem;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
    font-weight: 700;
    border-radius: 1px;
    height: 18px;
    width: 15px;
    margin-right: 10px;
}

.text {
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: #000000;
	margin-top: 20px;
	margin-bottom: 50px;
	padding-right: 15px;
}

.step-collaboration {
	background-color: #f5f4f9;
	padding-top: 52px;
}

.collaboration::before {
	content: "02";
    font-size: 1.4rem;
    color: #000000;
    border-bottom: 4px solid #5e42b0;
    font-weight: 700;
    border-radius: 1px;
    height: 18px;
    width: 15px;
    margin-right: 10px;
}

.step-growth {
	background-color: #5e42b0;
	padding-top: 52px;
}

.growth::before {
	content: "03";
    font-size: 1.4rem;
    color: #000000;
    border-bottom: 4px solid #ffffff;
    font-weight: 700;
    border-radius: 1px;
    height: 18px;
    width: 15px;
    margin-right: 10px;
}

.step-growth .text  {
	color: #ffffff;
}


.players-header .content {
	position: relative;
}

.players .heading {
	margin-top: 16px;
	margin-bottom: 227px;
}

.basketballer {
	position: absolute;
	top: 80px;
	left: -11px;
}

.step-growth-players {
	background-color: #090c35;
	padding-top: 52px;
}

.step-growth-players .text {
	color: #ffffff;
}

.players-growth::before {
	content: "03";
    font-size: 1.4rem;
    color: #8765dd;
    border-bottom: 4px solid #ffffff;
    font-weight: 700;
    border-radius: 1px;
    height: 18px;
    width: 15px;
    margin-right: 10px;
}


.opportunities {
	display: flex;
	flex-direction: column;
}

.opportunities .content {
	position: relative;
}

.opportunities-photo img {
	width: 100%;
}

.opportunities-heading {
	margin: 30px 0 14px 0;
	color: #e7e7e7;
	line-height: 3.4rem;
	font-size: 2.8rem;
	font-weight: 700;
}

.rectangle {
	display: flex;
	width: 70px;
	height: 70px;
	background-color: #5e42b0;

	position: absolute;
	top: -58px;
}

.description {
	font-size: 1.6rem;
	color: #000000;
	line-height: 2rem;
	margin-bottom: 70px;
	padding-right: 20px;
}

.be-active .description {
	padding-right: 35px;
}

.be-active .rectangle::before {
	content: "01";
    font-size: 1.4rem;
    color: #ffffff;
    border-bottom: 4px solid #8f7bc8;
    font-weight: 700;
    border-radius: 1px;
    height: 18px;
    width: 15px;
    margin: auto;
}

.find-contact .rectangle::before {
	content: "02";
    font-size: 1.4rem;
    color: #ffffff;
    border-bottom: 4px solid #8f7bc8;
    font-weight: 700;
    border-radius: 1px;
    height: 18px;
    width: 15px;
    margin: auto;
}

.work-it .rectangle::before {
	content: "03";
    font-size: 1.4rem;
    color: #ffffff;
    border-bottom: 4px solid #8f7bc8;
    font-weight: 700;
    border-radius: 1px;
    height: 18px;
    width: 15px;
    margin: auto;
}



.footer {
	background-image: url(/surface/image/background-footer.jpg);
	background-size: cover;
    background-color: #211271;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 10px;
}

.footer .content {
	flex-direction: column;
}

.app-logo {
	width: 72px;
	height: 74px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 55px;
	background: linear-gradient(to bottom, #7655d6, #51379b);
	border-radius: 20px;
 	display: flex;
}

.app-logo::before {
	content: "";
	height: 49px;
	width: 60px;
	background-image: url(/surface/image/logo-icon.svg);
	background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.footer-heading {
	font-size: 3.2rem;
	font-weight: 700;
	margin: auto;
	color: #ffffff;
}

.footer-subheading {
	font-size: 1.4rem;
	color: #9b8ec1;
	margin-right: auto;
	margin-left: auto;
}

.footer-buttons {
	margin: 65px auto 82px;
}

.footer .logo {
	margin-right: auto;
	margin-left: auto;
}
